.timer{
    padding: 10px 15px;
    /*
    height: 200px;
    width: 200px;
    */

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    background-color: gray;
    /* border: 1px solid black; */
    border-radius: 6px;
    
}

button{
    text-align: center;
    text-decoration: none;

    background-color: transparent;
    border: 1px solid lightgrey;

    border-radius: 8px;
    color: #ffffff;
    font-weight: 400;
    height: 30px;
    width: 80px;
    /*
    padding:10px 20px;
    */
}

.contador{
    font-size: 65px;
    font-weight: 600;
}