.timer{
    padding: 10px 15px;
    /*
    height: 200px;
    width: 200px;
    */

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    background-color: gray;
    /* border: 1px solid black; */
    border-radius: 6px;
    
}

.inputAlterartempo{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    text-align: center;
    text-decoration: none;

    background-color: transparent;
    border: 1px solid lightgrey;

    border-radius: 8px;
    color: #ffffff;
    font-weight: 400;
    height: 30px;
    width: 80px;
    /*
    padding:10px 20px;
    */
}

.contador{
    font-size: 65px;
    font-weight: 600;
}

input{
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid lightgrey;

    border-radius: 8px;

    color: #ffffff;
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 100px;
}

input::placeholder{
    color: lightgrey;
    text-align: center;
}
label{
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
}

#modoTexto{
    padding: 10px 0px 0px 0px;
}

#alterarTexto{
    margin-bottom: 10px;
}